<div class="main-container">
    <div class="menu-container">

        <!-- Header toolbar design starts -->
        <mat-toolbar color="primary" class="toolbarDesign">

            <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="left_icon">
                            <!-- <img class="bit-coin-icon" src="./../../../assets/images/lefties.png"> -->
                            <i class="material-icons" >chevron_left</i>
                        </div>
                    </mat-icon>

                </h1>
                </span>
            <span>
                <h1 class="bit-coin header">
                    <mat-icon>
                        <div class="left_icon1">
                        <img class="bit-coin-icon" src="./../../../assets/images/logo_@3x.png">
                        </div>
                    </mat-icon>
 
                </h1>
                </span>
            <div class="center">
                {{'Asset Column.deposits-withdrawl' |translate}}
            </div>
            <div class="right">
                {{'Asset Column.deposits-withdrawl records' |translate}}
            </div>


            <div *ngIf="mobileQuery.matches">
                <mat-icon>
                    <img class="qr-code-icon" src="./../../../assets/images/QR_icon.svg.png">
                </mat-icon>
            </div>

        </mat-toolbar>



        <!-- Header toolbar design ends -->

        <!-- second toolbar design starts -->
        <mat-card>
            <div class="AssetList-Container">
                <div class="grid-item item1" style="padding-left: 8px;">
                    <mat-icon>
                        <i class="material-icons " style="color: #f18819;font-size: 55px;padding-left: 15px;">panorama_fish_eye</i>
                    </mat-icon>
                </div>

                <div class="grid-item item2">

                    <strong style="text-align:left">
                                  {{'Asset Column.gross-asset' |translate}}
                        </strong>
                    <div style="text-align:left"> 89,532,643 円 </div>
                </div>

                <div class="grid-item item3">入金または出金する通貨を選択してください</div>
            </div>
        </mat-card>
        <!-- second toolbar design ends -->

        <!-- toolbar design starts for the body -->

        <div class="currency-container">
            <div class="currency-item" style="text-align:center">

                <img class="cryptoCoins" src="./../../../assets/images/yen.jpg">

            </div>
            <div class="currency-item" style="text-align:left ; display:flex; align-items:center; padding-left: 0px;"><strong>{{'Asset Column.japanese-n' |translate}}</strong></div>
            <div class="currency-item" style="text-align:right ;display:flex; align-items:center; float:right">
                9,461 円<i class="material-icons " style="font-size: 30px;  color: rgb(177, 195, 211); float:right;display:flex; align-items:center;">chevron_right</i>
            </div>


            <!-- <div class="currency-item" style="text-align:center">
               
                <img class="cryptoCoins" src="./../../../assets/images/BTC_orange.png">

            </div>
            <div class="currency-item" style="text-align:left ; display:flex; align-items:center; padding-left: 0px;"><strong>{{'Asset Column.bit-coin' |translate}}</strong></div>
            <div class="currency-item" style="text-align:right ; float:right">
                1.20520456 BTC<i class="material-icons " style="font-size: 30px; color: rgb(177, 195, 211) ">chevron_right</i>
            </div>


            <div class="currency-item" style="text-align:center">
               
                <img class="cryptoCoins" src="./../../../assets/images/ETC-alt_violet.png">

            </div>
            <div class="currency-item" style="text-align:left ; display:flex; align-items:center; padding-left: 0px;"><strong>{{'Asset Column.ethereum' |translate}}</strong></div>
            <div class="currency-item" style="text-align:right ; float:right">
                0 ETH<i class="material-icons " style="font-size: 30px; color: rgb(177, 195, 211) ">chevron_right</i>
            </div>


            <div class="currency-item" style="text-align:center">
               
                <img class="cryptoCoins" src="./../../../assets/images/ETC-alt_green.png">

            </div>
            <div class="currency-item" style="text-align:left ; display:flex; align-items:center; padding-left: 0px;"><strong>{{'Asset Column.ethereum-classic' |translate}}</strong></div>
            <div class="currency-item" style="text-align:right ; float:right">
                0 ETC<i class="material-icons " style="font-size: 30px; float:right ;color: rgb(177, 195, 211)">chevron_right</i>
            </div>


            <div class="currency-item" style="text-align:center">
                
                <img class="cryptoCoins" src="./../../../assets/images/litecoin.png">

            </div>
            <div class="currency-item" style="text-align:left ; display:flex; align-items:center; padding-left: 0px;"><strong>{{'Asset Column.lite-coin' |translate}}</strong></div>
            <div class="currency-item" style="text-align:right ; float:right">
                0 LTC<i class="material-icons " style="font-size: 30px; color: rgb(177, 195, 211) ">chevron_right</i>
            </div>


            <div class="currency-item" style="text-align:center">
               
                <img class="cryptoCoins" src="./../../../assets/images/BTC_green.png">

            </div>
            <div class="currency-item" style="text-align:left ; display:flex; align-items:center; padding-left: 0px;"><strong>{{'Asset Column.bit-coin-cash' |translate}}</strong></div>
            <div class="currency-item" style="text-align:right ; float:right">
                0 BCH<i class="material-icons " style="font-size: 30px;  color: rgb(177, 195, 211)">chevron_right</i>
            </div>


            <div class="currency-item" style="text-align:center">
               
                <img class="cryptoCoins" src="./../../../assets/images/Monacoin.png">

            </div>
            <div class="currency-item" style="text-align:left ; display:flex; align-items:center; padding-left: 0px;"><strong>{{'Asset Column.mona-coin' |translate}}</strong></div>
            <div class="currency-item" style="text-align:right ; float:right">
                21 MONA<i class="material-icons " style="font-size: 30px;  color: rgb(177, 195, 211)">chevron_right</i>
            </div> -->

        </div>

    </div>
</div>