<div class="main-container">
  <div class="menu-container">
    <!--Mat chard-->
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <a routerLink="/">
          <mat-icon>keyboard_arrow_left</mat-icon>
          <img class="bit-coin-icon" class="bit-coin-icon" src="./../../../assets/images/logo_@3x.png">
        </a>
        <div class="page-title">{{'price.title'|translate}}</div>
      </mat-toolbar-row>
    </mat-toolbar>
    <!--Mat chard-->
    <mat-card>
      <mat-card-content>
        <p style="margin-bottom:-9px;">
          <a style="float:left">1.20520456 BTC / 9,461 円</a>
          <a style="float:right">LTP721,857</a>
        </p>
      </mat-card-content>
    </mat-card>
    <br>
    <!--Nvd3 chart-->
    <div class="tabs">
      <mat-tab-group class="mat-tab-group">
        <mat-tab #mat1 label="{{'price.time-button.hour' | translate:{value: '1'} }}">
          <div style="text-align: center">
            <h3>721,857円</h3>
            <h3>{{'price.final-price' |translate}}</h3>
          </div>
          <div class="tab1.content" style="text-align: center">
            <nvd3 [options]='options' [data]='data'>
            </nvd3>
          
          </div>
        </mat-tab>

        <mat-tab label="{{'price.time-button.day' | translate:{value: '1'} }}">
          <div style="text-align: center">
            <h3>721,857円</h3>
            <h3>{{'price.final-price' |translate}}</h3>
          </div>
          <nvd3 [options]='options' [data]='data'>
          </nvd3>
          <span class="steps-counter:dot selected"></span>
          <span class="dot selected"></span>
        </mat-tab>

        <mat-tab label="{{'price.time-button.week' | translate:{value: '1'} }}">
          <div style="text-align: center">
            <h3>721,857円</h3>
            <h3>{{'price.final-price' |translate}}</h3>
          </div>
          <nvd3 [options]='options' [data]='data'>
          </nvd3>
          <!-- <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot selected"></span>
          <span class="dot"></span>
           <span class="dot"></span> -->
        </mat-tab>

        <mat-tab label="{{'price.time-button.month' | translate:{value: '1'} }}">
          <div style="text-align: center">
            <h3>721,857円</h3>
            <h3>{{'price.final-price' |translate}}</h3>
          </div>
          <nvd3 [options]='options' [data]='data'>
          </nvd3>
        </mat-tab>

        <mat-tab label="{{'price.time-button.year' | translate:{value: '1'} }}">
          <div style="text-align: center">
            <h3>721,857円</h3>
            <h3>{{'price.final-price' |translate}}</h3>
          </div>
          <nvd3 [options]='options' [data]='data'>
          </nvd3>
        </mat-tab>

      </mat-tab-group>
    </div>

    <div class="steps-counter">
      <div>
        <span class="dot selected"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>
</div>